{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
    <title>Recommendations</title>
</head>
<body>
    <h1 id="h1_1">Movie Recommendations<br>But this is only how it looks for the first row</h1>
    <div class="basic">
        <img id="img" src="{% static 'images/65.jpg' %}">
        <span></span>
        <img id="img">
        <span></span>
        <img id="img">
    </div>
</body>
</html>